
body {
    background-color: black !important;
    color: white;
    margin: 0px;
    padding: 0px;
}

.nav-links {
    padding: 24px 48px 18px 22px;
    display: inline-block;
    list-style: none;
}

header {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 70px;
    margin: 50px;
}

#galo-logo, #footer-galo-logo{
    margin: 0px 048px 4px 48px;
    font-family: NanumPen;
    font-size: 42px;
    cursor: pointer;
}

.nav-links-btn {
    color: black;
    font-size: 21px;
    text-decoration: none;
    font-family: MaisonNeueBold;
    letter-spacing: 1.5px;
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
}

li {
    padding-left: 15px;
}

li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    margin: auto;   
    display: block;
}

li a:hover::after{
    width: 100%;
    transition: width 0.26s linear;
}

.title-and-description {
    margin: 250px 800px 1000px 180px ;
    font-size: 70px;
    letter-spacing: 0.5px;
    font-family: MaisonNeueBold;
}

h1{
    margin: 0px;
}

#hi {
    margin-bottom: -100px;
    padding: 0px;
}


.title-description {
    font-size: 30px;
    font-family: MaisonNeueLight;
    margin: 0px;
    color: #b7b7b7;
}

.galo {
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0.6px white;
    font-size: 120px;
    letter-spacing: 1px;
} 

.section-title {
    text-align: center;
    font-family: MaisonNeueBold;
    font-size: 100px;
}

.about-section h3{
    font-family: MaisonNeueBold;
    font-size: 65px;
    margin: 8px 0px 0px 0px;
}

.about-section h4{
    color: #FCD300;
    font-family: MaisonNeueBold;
    letter-spacing: 2px;
    margin: 0px;
    font-size: 22px;
}

.about-section h5{
    font-family: MaisonNeueLight;
    color: #b7b7b7;
    font-size: 20px;
    margin-top: 0px;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:200px;
    margin: 170px 220px 260px 220px;
}

.projects h3{
    font-family: MaisonNeueBold;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 1px;
    padding: 10px 0px 6px 0px;
}

.projects h4{
    font-family: MaisonNeueBold;
    margin: 0px;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 22px;
}

.projects h5{
    font-family: MaisonNeueLight;
    font-size: 30px;
    margin: 0px;
}

.projects-ecommerce{
    color: white;
    background-color: #5890f7;
    height: 800px;
    padding: 80px 0px 0px 85px;
}

.projects-movies{
    color: black;
    background-color: #dfdfdf;
    height: 800px;
    padding: 80px 0px 0px 80px;
}

.projects-individual {
    height: 650px;
    width: 700px;
    margin-top: 30px;
    opacity: 70%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 160px 150px 160px 150px;
}

.contact{
    background-color: #fbfbfb;
    height: 1000px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 305px;
    border-top: 1px solid #b7b7b7;
    border-width: 50%;
}

.footer-links {
    padding: 24px 48px 16px 19px;
    display: inline-block;
    list-style: none;
}

.footer-links-btn {
    font-size: 21px;
    text-decoration: none;
    font-family: MaisonNeueBold;
    letter-spacing: 1.5px;
    list-style-type: none;
    color: black;
}

.footer-links li {
    display: inline-block;
}

#footer-galo-logo {
    color:black
}

.contact-container h2{
    color: black;
    font-family: MontserratBold;
    font-size: 110px;
    margin: 100px 0px 0px 140px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin: 0px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 708px;
    margin: 110px 150px 0px 20px;
    padding-bottom: 20px;
    border-radius: 10%;
}

#mountains-image{
    height: 400px;
    width: 630px;
    margin: 50px 0px 150px 150px;
    border-radius: 8px;
    opacity: 0.4;
}

textarea{
    height: 1100px;
}

#user-name, #user-email, #user-message{
    background-color: #f7f7f7;
    color: #b7b7b7;
    border: none;
    padding: 18px 0px 18px 16px;
    font-family: MaisonNeueBook;
    font-size: 22px;
    letter-spacing: 1px;
}

#user-message, #user-email{
    border-top: 1px solid #b7b7b7;
}

#send-btn {
    color: #fbfbfb;
    background-color: black;
    font-family: MaisonNeueBold;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    padding: 24px 0px 21px 0px;
    cursor: pointer;
}
